{% extends "blog/base.html" %}
{% block main_area %}

    <!--로그인이 되어 있는 경우에 사용자가 최고 관리자이거나 스태프일 때만 이 버튼이 보이도록 설정-->
    {% if user.is_authenticated%}
    {% if user.is_superuser or user.is_staff %}
    <a class="btn btn-info btn-sm float-right" href="/blog/create_post/" role="button"><i class="fas fa-pen"></i>&nbsp;&nbsp;New Post</a>
    {% endif %}
    {% endif %}

    <!--카테고리가 context로 넘어올때 그 카테고리 이름을 뱃지 형태로 출력-->
    <h1>Blog 
        {% if category %}<span class="badge badge-secondary">{{ category }}</span>{% endif %}
        {% if tag %}<span class="badge badge-light"><i class="fa-solid fa-tag"></i>{{ tag }} ({{ tag.post_set.count }})</span>{% endif %}
    </h1>
    <!--post_list에 포스트가 있다면 실행-->
    {% if post_list.exists %}

    {% for p in post_list %}
    <!--블로그 포스트-->
    <div class="card mb-4" id="post-{{ p.pk }}">
        {% if p.head_image %}
        <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} head image">
        {% else %}
        <!--랜덤한 이미지 Picsum에서 받아오기-->
        <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image">
        {% endif %} <!--대문 이미지 없을 때 예외 처리-->
        <div class="card-body">
            {% if p.category %}
            <span class="badge badge-secondary float-right">{{ p.category }}</span>
            {% else %}
            <span class="badge badge-secondary float-right">미분류</span>
            {% endif %}
            <h2 class="card-title">{{ p.title }}</h2>
            {%if p.hook_text %}<!--요약문-->
            <h5 class="text-muted">{{p.hook_text}}</h5> 
            {% endif %}
            <p class="card-text">{{ p.get_content_markdown | truncatewords_html:45 | safe }}</p><!--글자수 45로 제한+마크다운-->
            
            {% if p.tags.exists %}
                <i class="fa-solid fa-tag"></i>
                {% for tag in p.tags.iterator %}
                    <a href="{{ tag.get_absolute_url }}"><span class="badge badge-pill badge-light">{{ tag }}</span></a>
                {% endfor %}
                <br/>
                <br/>
            {% endif %}
            <a href="{{ p.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            Posted on {{ p.created_at }} by
            <a href="#">{{ p.author | upper }}</a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h3>아직 게시물이 없습니다.</h3>
    {% endif %}

    <!--포스트 개수가 5개 이하여서 필요 없다면 화면에 표시하지 않음-->
    {% if is_paginated %}
        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            <!--다음페이지가 있는지 확인하여 버튼을 비활성화 상태로 할지의 여부를 결정-->
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">&larr; Older</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&larr; Older</a>
                </li>
            {% endif %}
            
            <!--이전페이지가 있는지 확인하여 버튼을 비활성화 상태로 할 지 여부를 결정-->
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Newer &rarr;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer &rarr;</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}

